body {background-color: goldenrod;
    background-image: url("spurdo.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
h1 {
    text-align: center;
    color: yellow
}
p{
    text-align: center;
    color: white
}
div {
    background-color: grey;
    opacity: 0.5;
}
div.sidebyside {
    background-color: red;
    opacity: 1;
    display: table-cell
}